# Genesis

```go
import "github.com/life4/genesis"
```

| Struct | Description |
| ------ | ----------- |
{% for struct in structs -%}
  | [{{ struct.name }}](./{{ struct.name.lower() }}/) | {{ struct.docs }} |
{% endfor %}
