# {{ struct.name }}

{{ struct.docs }}

```go
{{ struct.source }}
```

## Structs

| Struct | T type |
| ------ | ------ |
{% for t in types -%}
  | {{ struct.name }}{{ t.title }} | {{ t.name }} |
{% endfor %}


## Functions

| Function | Description |
| -------- | ----------- |
{% for func in funcs -%}
{% if func.struct == struct.name and func.public -%}
  | [{{ func.name }}](./{{ func.name.lower() }}.md) | {{ func.clean_docs }} |
{% endif %}
{%- endfor %}
